li{
    display: flex;
    text-decoration: none;
    position: fixed;
    left: 80vh;
    bottom: 90vh;
}

li a{
    display: flex;
    font-family: monospace;
    font-size: larger;
    color: black;
    text-decoration: none;
}

li a:hover{
    display: flex;
    font-family: monospace;
    font-size: larger;
    color: red;
    transition: color 400ms linear;
    text-decoration: none;
}